<div class="Index">
  <div>
    <div class="AppName" >
      <span>Learning Through Activity Management System</span>
    </div>
    <div class="SelectRemind" >
      <span>Enter by your rule: </span>
    </div>
    <mat-card class="Option"  >
      <mat-card-content>
        <a routerLink="/student/login" routerLinkActive="active">Student</a>
      </mat-card-content>
    </mat-card>
    <mat-card class="Option" >
      <mat-card-content>
        <a routerLink="/teacher" routerLinkActive="active">Teacher</a>
      </mat-card-content>
    </mat-card>
    <mat-card class="Option" >
      <mat-card-content>
        <a routerLink="/manager" routerLinkActive="active">Manager</a>
      </mat-card-content>
    </mat-card>
  </div>

</div>
